/* Очень маленькие устройства (телефоны, 768px и ниже) */
@media only screen and (max-width: 768px) {}

/* Очень маленькие устройства (телефоны, 768px и выше) */
@media only screen and (min-width: 768px) {}

/* Большие устройства (ноутбуки / настольные компьютеры, 992px и выше) */
@media only screen and (min-width: 992px) {}

/*--------------*/

@media (max-width: 767px) {
  /* стили для xs-устройств */
}
@media (min-width: 768px) and (max-width: 991px) {
  /* стили для sm-устройств */
}
@media (min-width: 991px) and (max-width: 1199px) {
  /* стили для md-устройств */
}
@media (min-width: 1200px) {
  /* стили для lg-устройств */
}

/*---------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@media (max-width: 767px) {
	.row1 {
		flex-direction: column; 
	}
	.box1 {
		width: 100%;
		margin-bottom: 10px;
	}

	.box {
		max-width: 100%;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.row1 {
		flex-direction: column; 
	}
	.box1 {
		width: 100%;
		margin-bottom: 10px;
	}

	.box {
		max-width: 49%;
	}

	.row {
	justify-content: space-around;
}

}
@media (min-width: 992px) {
	.row1 {
		flex-direction: row; 
		justify-content: space-between;
	}
	.box1 {
		width: 49%;
	}

	.box {
		max-width: 24%;
	}

}

#wrapper {
	width: 80%;
	margin: 0 auto;
}

.row1 {
	display: flex;
	margin-bottom: 20px;
}
.box1{
	box-sizing: border-box;
  margin: auto;
  padding: 10px;
}

.box1 img {
	width: 100%;
}

/*---------*/

.box{
	box-sizing: border-box;
	background: green;
	margin-bottom: 10px;
	color: white;
	padding: 10px;
}

.box img {
	width: 100%;
}

.row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row; 
	justify-content: space-between;
}





/* 




#wrapper {
	width: 80%;
	margin: 0 auto;
}

.block {
	box-sizing: border-box;
	background: green;
	height: 300px;
	margin-bottom: 10px;
	color: white;
	padding: 10px;
}
.row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row; 
	justify-content: space-between;
}

@media (min-width: 992px) {
	.block {
		width: 24%;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.block {
		width: 49%;
	}
}
@media (max-width: 767px) {
	.block {
		width: 100%;
	}
} */